DB_URL=jdbc:postgresql://localhost:5432/checkbook
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password
JPA_DDL_AUTO=validate
ALADIN_TTB_KEY=
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
DATANARU_AUTH_KEY=
CORS_ALLOWED_ORIGINS=http://localhost:3000
